/*
	Title: Main CSS Document for FizzBuzz App;
	Project: FizzBuzz App (Version: 1.0);
	Author: Peter Applebee;
	Date: 18/08/2014;
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET ===============================================*/

body {
	background-color: #F1FFEF;
	color: #000;
	font-family: Arial, sans-serif;
	text-align: center;
}

/*======================================================
HEADER
======================================================*/

#header {
	width: 90%;
	padding: 20px 5%;
	position: fixed;
	top: 0;
	background-color: #AADD99;
	box-shadow: 0px 2px 2px #c3c3c3;
}

h1 {
	color: rgba(241,255,239,0.8);
	font-size: 300%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px #AADD99, 0 0 0 #000, 2px 2px 2px #AADD99;
}

::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

/*=========================================================================
EXPLANATION & INSTRUCTIONS
=========================================================================*/

* {
/*	outline: red 1px solid; */
}


#example {
	width: 600px;
	margin: 120px auto 20px auto;
	padding: 10px;
	background-color: #fff;
	border: 0;
	border-radius: 10px;
}

#explanation {
	width: 300px;
	float: left;
}

#instructions {
	width: 300px;
	float: left;
}


h2 {
	font-size: 150%;
	color: #AADD99;
	margin: 10px 5px 20px 5px;
}

h3 {
	font-size: 120%;
	display: inline-block;
	font-weight: normal;
}

p {
	margin: 10px;
}

#user-input-form {
	width: 250px;
	text-align: left;
	margin: 10px auto;
	padding: 5px;
}

input {
	display: inline-block;
	width: 40px;
	text-align: left;
	border-radius: 5px;
	border: 1px solid #888;
	padding: 5px;
}

label {
	display: inline-block;
	margin: 0 5px;
	width: 60px;
	font-weight: bold;
}

#start-label {
	text-align: right;
}



#results-div {
	width: 40%;
	padding: 5px;
	margin: 10px auto;
	margin-bottom: 100px;
	clear: both;
/*	display: none; */
	border: 0;
	border-radius: 10px;
	background-color: #EFE;
}

table {
	margin: 0 auto;
}

tr {
	
}

th {
	text-align: right;
	padding: 0 10px;
}

td {
	w
}

/*===============================================================
CONTROLS
===============================================================*/

#controls {
	width: 90%;
	padding: 20px 5% 20px 5%;
	clear: both;
}

button {
	width: 40%;
	margin: 0 20px;
	padding: 10px;
	background-color: #AADD99;
	border: 1px solid #AADD99;
	border-radius: 5px;
	color: #F1FFEF;
	font-size: 130%;
	text-transform: uppercase;
	outline: none;
	display: inline-block;
}

button:hover {
	background-color: #F1FFEF;
	border: 1px solid #AADD99;
	color: #AADD99;
}

button:active {
	background-color: #FFF;
	border: 1px solid #CCEEBB;
	color: #CCEEBB;
}

#reset {
	width: 40%;
	margin: 0 20px;
	padding: 10px;
	background-color: #DDAA99;
	border: 1px solid #DDAA99;
	border-radius: 5px;
	color: #FFF1EF;
	font-size: 130%;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	outline: none;
}

#reset:hover {
	background-color: #FFF1EF;
	border: 1px solid #DDAA99;
	color: #DDAA99;
}

#reset:active {
	background-color: #FFF;
	border: 1px solid #EECCBB;
	color: #EECCBB;
}

/*===============================================================
NUMBER OUTPUT
===============================================================*/

#program-output {
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 5%;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}

.num {
	display:none;
	float: left;
	width: 100px;
	padding: 15px 5px;
	border: 0;
	border-radius: 5px;
	background-color: #fff;
}

.fizz-buzz {
	color: #FF1E00;
}

.fizz {
	color: #F0E000;
}

.buzz {
	color: #2BFF00;
}


/*===================================================================
FOOTER
===================================================================*/

#footer {
	background-color: #AADD99; 
	width: 90%;
	position: fixed;
	bottom: 0;
	padding: 20px 5%;
	box-shadow: 0px -2px 2px #c3c3c3;
}

#footer p {
	color: #F1FFEF;
	text-align: center;
}

a:link, a:visited {
	color: #F1FFEF;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}
